/* ********** VARIABLES ********** */

/* *** COLORS *** */

$blanc: rgba(199, 249, 204, 1); // attention pas blanc changer le nom de variable
$noir: #333;
$blancTpt: rgba(199, 249, 204, 0.5);
$mainColor: rgba(34, 87, 122, 1);
$mainBgColor: rgba(128, 237, 153, 1);

/* ****** FONTS ****** */

$fontDefault: 'Rubik', sans-serif;
$fontTitles: 'Rubik', sans-serif;
$fontSizeDefault: 1.2rem;
$fontSizeh1: 2.4rem;
$fontSizeh2: 2rem;
$fontSizeh3: 1.4rem;

/* ****** line height ****** */

$lineHeight: 2.0rem;

/* ****** PADDING - MARGIN - WIDTH ****** */

$maxWidth: 1140px;
$pDef: 2%;
$mDef: 2%;
$logoWidth: 4vw;

/* ****** FIN DE VARIABLES ****** */