/* ********** _adminOrders ********** */

/* General */
.choseOrders{
    text-align:center;
}

.choosenDay{
    text-align:center;
}

.displayOrders > p{
    text-align:left;
    margin:0.5rem;
}

.displayOrder > table{
    margin:auto auto 2rem auto;
}

.displayOrder{
    padding:0.5rem;
    border:1px solid $red;
}

#displayOrders{
    margin:auto;
    display:grid;
}

.buttonTerminer{
    text-align:center;
    margin:1rem;
}

td{
    padding:0.5rem;
}

/* mobiles */
@media(min-width: 0px) and (max-width: 767.99px)
{
    .displayOrder{
        padding:0.5rem;
        margin:1rem;
        border:1px solid $red;
        max-width: 85vw;
    }
}

/* tablets and screens */
@media(min-width: 768px)
{
    .displayOrder{
        max-width: 45vw;
    }
    
    #displayOrders{
        grid-template-columns:repeat(2, 1fr);
        gap:1rem;
    }
}