/* ********** _chooseImage ********** */

.updateImage{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    gap:1rem;
}

.updateImageForm{
    display:grid;
    grid-template-rows:auto 1fr;
}

.updateImage > img{
    max-width:18vw;
    grid-row:1;
    margin:auto;
}

.updateImageButton{
    grid-row:2;
    margin:1rem auto;
}