/* ********** Header ********** */

// Light mode 
// @media (prefere-color-scheme: light)
// {
    body > header{
        background-color: $red;
        color: $mainColor;
    }
    
    body > header a{
        color:$blanc;
    }
    
    body > header h1 {
        color: $noir;
    }
    
    #mobile-header-button {
        color:$blanc;
    }
    
// }

/* Dark mode */
@media (prefers-color-scheme: dark)
{
    body > header {
        background-color: $noir;
        color:$red;
    }

    body > header a {
        color:$blanc;
    }

    body > header h1{
        color: $red;
    }

    #mobile-header-button {
        color: $blanc;
    }
}

/* General */

body > header {
padding:1rem;
}

body > header a {
text-decoration: none;
}

body > header a {
text-decoration: none;
}

body > header a:hover {
text-decoration: underline;
}

#logoImg > img{
    width:8vw;
    height:auto;
    max-width:100%;
}

@media(min-width: 0px) and (max-width: 767.99px)
{
    #mobile-header-button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
    }

    body > header ul{
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 1.3rem;
    }

    body > header ul li {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #main-nav:not(.open)
    {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 991px)
{
    #mobile-header-button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
    }

    body > header ul{
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 1.3rem;
    }

    body > header ul li {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #main-nav:not(.open)
    {
        display: none;
    }
    
}

@media (min-width: 992px) {

    #main-nav:not(.open)
    {
        display: block;
    }

    #mobile-header-button {
        display:none;
    }

    body > header h1 {
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    body > header ul {
        display:grid;
        grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        grid-template-rows: none;
    }

    body > header ul li{
        padding-top: 0;
        padding-bottom: 0;
        text-align:center;
        margin:auto;
    }

    body > header h1:hover {
        text-decoration: underline;
    }
    
}