@media(min-width: 768px) and (max-width: 991px)
{
    #update{
        width:30vw;
        display:grid;
        grid-template-rows:0.5fr auto 1fr;
        margin: 1rem;
        border: 1px solid black;
        border-radius: 2rem;
    }
    
    #update > h2{
        font-size:1.4rem;
        margin:auto;
    }
    
    #update > ul{
        display:grid;
        grid-template-rows:1fr 1fr;
    }
    
    #update > ul > li{
        display:grid;
        grid-template-rows:0.5fr auto 1fr;
        grid-template-columns:1fr 1fr;
        gap: 0.5rem;
        justify-content:center;
        margin: auto;
    }
    
    #update > ul > li > img{
        width:20vw;
        justify-content:center;
        margin: auto;
    }
    
    #updateImg{
        grid-row:2;
        grid-column:1/3;
    }
    
    #updateH3{
        grid-row:1;
        grid-column:1/3;
        font-size:1.2rem;
        flex:wrap;
    }
    
    #updateP1{
        text-align: center;
        grid-row:3;
        grid-column:1;
        font-size:0.8rem;
    }
    
    #updateP2{
        grid-row:3;
        grid-column:2;
        font-size:0.5rem;
        text-align: end;
        align-self:end;
    }
    
    #update > ul > li > h3,
    #update > ul > li > p{
        margin:auto;
    }
    
    #update > a{
        align-self:end;
        width:80%;
        text-align:center;
        border: 1px solid black;
        border-radius:0.4rem;
        background-color: lightgrey;
        margin: 0.5rem auto;
        padding: 0.4rem;
    }
    
    .hideUpdate{
        display:none;
    }
    
    .showUpdate{
        display:grid;
    }
}