@media(min-width: 992px)
{
    #newsSection{
        margin:1rem 6rem;
    }
    
    .newsArticle{
        max-width:70vw;
        display:grid;
        grid-template-columns:30% repeat 3;
        grid-template-rows:4rem auto 4rem;
        gap: 1rem;
        margin:4rem auto;
    }
    
    .newsHeader{
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .newsMain{
        grid-column: 1/4;
        grid-row: 2;
        
        display:grid;
        grid-template-columns:minmax(30%, 30%) repeat 3;
        grid-template-rows:auto;
        gap: 1rem;
    }
    
    .newsFooter{
        grid-column: 1/4;
        grid-row: 3;
    
        display:grid;
        grid-template-columns: 30% repeat 3;
        grid-template-rows:auto;
        gap: 1rem;
    }
    
    .newsImg{
        display:grid;
        max-width:20vw;
        justify-content:center;
        margin:auto;
        grid-column: 1;
        grid-row: 1;
    }
    
    .newsImg > img{
        padding: 1rem;
        justify-content:center;
        margin: auto;
    }
    
    .newsContent{
        padding:1rem;
        grid-column: 2/4;
        grid-row: 1;
    }
    
    .newsH3{
        grid-column: 1;
        grid-row: 1;
    }
    
    .newsButton{
        grid-column: 3;
        grid-row: 1;
        margin:auto;
    }
    
    #displayArticles article.hide{
        display:none!important;
    }
    
    #displayArticles article.show{
        display:grid!important;
    }
}