/* ********** General ********** */

html{
    scroll-behavior:smooth;
}

.sr-only{
    display:none;
}

body{
    margin:0;
    box-sizing: border-box;
    font-family: $fontDefault;
    font-size: $fontSizeDefault;
    line-height: $lineHeight;
    background-color: $white;
    color: $black;
}

body > main{
    background-color:$white;
    display: flex;
    max-width: $maxWidth;
    flex-direction:column;
    justify-content:center;
    margin: auto;
}

h1,
h2,
h3{
    font-family: $fontTitles;
    color: $mainColor;
    text-align: center;
}

p,
a,
li,
span{
    color: $mainColor;
}

p{
    margin: 1rem;
    text-align : justify;
}

h1{
    font-size: $fontSizeh1;
    padding: $pDef;
    font-weight:$fontweighth1;
    margin: $mDef;
}

h1:not(#mainGalleryTitle){
    margin: $mDef;
}

h2{
    font-size: $fontSizeh2;
    padding: $pDef;
    margin: $mDef;
    font-weight:$fontweighth2;
}

h3{
    font-size: $fontSizeh3;
    padding: 0.5rem;
    margin: 0.5rem;
}

a{
    text-decoration: none;
}

.webLink{
    text-decoration:underline;
}

.webLink:hover{
    color:$red;
}

.button{
    font-weight:900;
    color:$white;
    background-color:$red;
    text-align:center;
    vertical-align:middle;
    align-self: center;
    margin:auto;
    border: 2px solid $white;
    border-radius:4px;
    box-shadow: 5px 5px 5px $black;
    padding:0.2rem 0.8rem;
}

.button:hover{
    color:$red;
    background-color:$white;
    border: 2px solid $red;
    cursor: pointer;
}

.button:hover .button > a{
    color:$red;
}

.card{
    border: 2px solid $red;
}

fieldset{
    border:none;
}

.errors{
    background-color:$red;
    width:fit-content;
    padding:1rem;
    margin:2rem auto;
}

.errors > li{
    color:$white;
}

.validation{
    background-color:$green;
    color:$white;
    width:fit-content;
    padding:1rem;
    margin:2rem auto;
}

/* Dark mode */
@media (prefers-color-scheme: dark)
{
    body{
        background-color: $black;
        color: $white;
    }
    
    body > main{
        background-color:$black;
    }

    h1,
    h2,
    h3{
        color: $white;
    }
    
    p,
    li,
    span,
    label{
        color: $white;
    }
    
    a{
        color:$red;
    // padding:0.5rem;
    }
    
    a:hover{
        color:$white;
            // padding:0.5rem;

    }
    
    input{
        background-color:$white;
    }
    
    .button{
        color:$red;
        background-color:$white;
        border: 2px solid $red;
        box-shadow: 5px 5px 5px $white;
        padding:0.5rem;
    }
    
    .button:hover{
        color:$white;
        background-color:$red;
        border: 2px solid $white;
        box-shadow: 5px 5px 5px $red;
    }
    
    .card{
        border: 2px solid $white;
    }
}