/* ********** General ********** */

html{
    scroll-behavior:smooth;
}

.sr-only{
    display:none;
}

body{
    margin:0;
    box-sizing: border-box;
    font-family: $fontDefault;
    font-size: $fontSizeDefault;
    line-height: $lineHeight;
    background-color: $blanc;
    color: $mainColor;
}

body > main{
    background-color:$blanc;
    display: flex;
    max-width: $maxWidth;
    flex-direction:column;
    margin: auto;
}

h1,
h2,
h3{
    font-family: $fontTitles;
    color: $mainColor;
    text-align: center;
}

p,
a,
li,
span{
    color: $mainColor;
}

p{
    margin: 2rem;
    text-align : justify;
}

h1{
    font-size: $fontSizeh1;
    padding: $pDef;
    font-weight:$fontweighth1;
}

h1:not(#mainGalleryTitle){
    margin: $mDef;
}

h2{
    font-size: $fontSizeh2;
    padding: $pDef;
    margin: $mDef;
    font-weight:$fontweighth2;
}

h3{
    font-size: $fontSizeh3;
    padding: 0.5rem;
    margin: 0.5rem;
}

a{
    text-decoration: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark)
{
    body{
        background-color: $darkMainBgColor;
        color: $mainBgColor;
    }
    
    body > main{
        background-color:$darkMainBgColor;
    }

    h1,
    h2,
    h3{
        color: $blanc;
    }
    
    p,
    a,
    li,
    span{
        color: $blanc;
    }
}