/* FONTS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* VARIABLES */
/* ********** VARIABLES ********** */
/* *** COLORS *** */
/* GENERAL */
/* LIGHT MODE */
/* DARK MODE */
/* ****** FONTS ****** */
/* ****** line height ****** */
/* ****** PADDING - MARGIN - WIDTH ****** */
/* ****** FIN DE VARIABLES ****** */
/* GENERAL */
/* ********** General ********** */
html {
  scroll-behavior: smooth;
}

.sr-only {
  display: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 36, 20);
}

body > main {
  background-color: rgb(255, 255, 255);
  display: flex;
  max-width: 1140px;
  flex-direction: column;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  color: rgb(10, 36, 20);
  text-align: center;
}

p,
a,
li,
span {
  color: rgb(10, 36, 20);
}

p {
  margin: 2rem;
  text-align: justify;
}

h1 {
  font-size: 2.4rem;
  padding: 2%;
  font-weight: 800;
}

h1:not(#mainGalleryTitle) {
  margin: 2%;
}

h2 {
  font-size: 2rem;
  padding: 2%;
  margin: 2%;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(10, 36, 20);
    color: rgb(10, 28, 20);
  }
  body > main {
    background-color: rgb(10, 36, 20);
  }
  h1,
h2,
h3 {
    color: rgb(255, 255, 255);
  }
  p,
a,
li,
span {
    color: rgb(255, 255, 255);
  }
}
/* HEADER */
/* **********
Header
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  #mobile-header-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
  }
  body > header ul {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
  }
  body > header ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #main-nav:not(.open) {
    display: none;
  }
}
/* **********
Header
********** */
@media (min-width: 768px) and (max-width: 991px) {
  #mobile-header-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
  }
  body > header ul {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
  }
  body > header ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #main-nav:not(.open) {
    display: none;
  }
}
/* **********
Header
********** */
@media (min-width: 992px) {
  #main-nav:not(.open) {
    display: block;
  }
  #mobile-header-button {
    display: none;
  }
  body > header h1 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  body > header ul {
    text-align: left;
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: none;
  }
  body > header ul li {
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    text-align: center;
  }
  body > header h1:hover {
    text-decoration: underline;
  }
  #containerLogo {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  #containerLogo > #logoImg {
    display: inline-block;
    margin: auto;
  }
  #containerLogo > a {
    margin: auto;
  }
}
body > header {
  background-color: rgb(204, 28, 0);
  color: rgb(10, 36, 20);
}

body > header a {
  color: rgb(255, 255, 255);
}

body > header h1 {
  color: rgb(0, 0, 0);
}

#mobile-header-button {
  color: rgb(255, 255, 255);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body > header {
    background-color: rgb(0, 0, 0);
    color: rgb(204, 28, 0);
  }
  body > header a {
    color: rgb(255, 255, 255);
  }
  body > header h1 {
    color: rgb(204, 28, 0);
  }
  #mobile-header-button {
    color: rgb(255, 255, 255);
  }
}
/* General */
body > header {
  padding: 1rem;
}

body > header a {
  text-decoration: none;
}

body > header a {
  text-decoration: none;
}

body > header a:hover {
  text-decoration: underline;
}

.logoImg {
  max-width: 3vw;
  height: auto;
}

.logoImg > img {
  max-width: 100%;
}

/* FOOTER */
/* LAYOUTS */
/* **********
    Home
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  #home > figure {
    max-width: 50vw;
    margin: auto;
  }
  #home > figure > img {
    border-radius: 8%/12%;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #home > figure {
    max-width: 50vw;
    margin: auto;
  }
  #home > figure > img {
    border-radius: 8%/12%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  #home > figure {
    max-width: 50vw;
    margin: auto;
  }
  #home > figure > img {
    border-radius: 8%/12%;
    margin: auto;
  }
}
/* **********
    About
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  #about > figure {
    max-width: 60vw;
    margin: auto;
  }
  #about > figure > img {
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #about > figure {
    max-width: 50vw;
    margin: auto;
  }
  #about > figure > img {
    margin: auto;
  }
}
@media (min-width: 992px) {
  #about > figure {
    max-width: 40vw;
    margin: auto;
  }
  #about > figure > img {
    margin: auto;
  }
}
/* **********
    Gallery
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  #mainGallery > h1 {
    color: rgb(255, 255, 255);
  }
  #gallery {
    display: grid;
    grid-template-columns: 1, auto;
    gap: 0.5rem;
    max-width: 90vw;
    padding: 2rem 0;
    margin: auto;
  }
  #gallery > figure {
    max-width: 100%;
  }
  #gallery > figure > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #mainGallery > h1 {
    color: rgb(255, 255, 255);
  }
  #gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    max-width: 85vw;
    padding: 1rem 0;
    margin: auto;
  }
  #gallery > figure {
    max-width: 100%;
  }
  #gallery > figure > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  #mainGallery > h1 {
    color: rgb(255, 255, 255);
  }
  #gallery {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
    max-width: 80vw;
    padding: 2rem 0;
    margin: auto;
  }
  #gallery > figure {
    max-width: 100%;
  }
  #gallery > figure > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}
/* **********
    Products
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  .productName {
    text-align: left;
    margin-left: 4rem;
  }
  #product > section {
    justify-content: center;
    margin: auto;
  }
  .varietyDetail {
    border-radius: 6rem;
    justify-content: center;
    padding: 2rem;
    margin: 4rem;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 4fr auto 1fr 1fr;
    gap: 1rem;
  }
  .varietyDetailFigure {
    margin: auto;
    max-width: 60vw;
    grid-row: 2;
  }
  .varietyDetailTitle {
    grid-row: 1;
  }
  .varietyDetailTitle > h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .varietyDetailDescription {
    grid-row: 3;
  }
  .varietyDetailFooter {
    grid-row: 4/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }
  .varietyDetailSeason {
    grid-row: 1/2;
  }
  .varietyDetailAvailablity {
    grid-row: 2/3;
  }
  .varietyDetailFooter > p {
    margin: auto;
    text-align: center;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .productName {
    text-align: left;
    margin-left: 4rem;
  }
  #product > section {
    justify-content: center;
    margin: auto;
  }
  .varietyDetail {
    border-radius: 6rem;
    justify-content: center;
    padding: 2rem;
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat 2, 40%;
    grid-template-rows: auto repeat 4;
    gap: 1rem;
  }
  .varietyDetailFigure {
    margin: auto;
    max-width: 50vw;
    grid-column: 1/3;
    grid-row: 2;
  }
  .varietyDetailTitle {
    grid-column: 1/3;
    grid-row: 1;
  }
  .varietyDetailTitle > h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .varietyDetailDescription {
    grid-column: 1/3;
    grid-row: 3;
  }
  .varietyDetailFooter {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr repeat 2;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .varietyDetailSeason {
    grid-column: 1;
    grid-row: 1;
  }
  .varietyDetailAvailablity {
    grid-column: 2;
    grid-row: 1;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .productName {
    text-align: left;
    margin-left: 4rem;
  }
  #product > section {
    justify-content: center;
    margin: auto;
  }
  .varietyDetail {
    border-radius: 6rem;
    justify-content: center;
    padding: 2rem;
    margin: 4rem;
    display: grid;
    grid-template-columns: 30% repeat 3;
    grid-template-rows: auto repeat 3;
    gap: 1rem;
  }
  .varietyDetailFigure {
    margin: auto;
    max-width: 20vw;
    grid-column: 1;
    grid-row: 1/4;
  }
  .varietyDetailTitle {
    grid-column: 2/4;
    grid-row: 1;
  }
  .varietyDetailTitle > h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .varietyDetailDescription {
    grid-column: 2/4;
    grid-row: 2;
  }
  .varietyDetailFooter {
    grid-column: 2/4;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr repeat 2;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .varietyDetailSeason {
    grid-column: 1;
    grid-row: 1;
  }
  .varietyDetailAvailablity {
    grid-column: 2;
    grid-row: 1;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
}
.varietyDetail {
  background-color: rgba(0, 217, 130, 0.6);
}

@media (prefers-color-scheme: dark) {
  .varietyDetail {
    background-color: rgb(10, 36, 20);
    border: 1px solid rgb(255, 255, 255);
  }
}
/* **********
    Basket
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  .availableVarietySection {
    display: flex;
    justify-content: space-around;
  }
  .availableVariety {
    max-width: 20vw;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto repeat 4;
    gap: 1rem;
    margin: 2rem;
    border: 1px solid black;
  }
  .availableVarietyHeader {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyMain {
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto repeat 2;
  }
  .availableVarietyFooter {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  }
  .availableVarietyFigure {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyFigure > img {
    max-width: 18vw;
  }
  .availableVarietyTitle {
    grid-column: 1/3;
    grid-row: 2;
    margin: auto;
  }
  .availableVarietyPrice {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyButton {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  }
  .availableVarietyButtonAdd {
    grid-column: 1;
  }
  .availableVarietyButtonRemove {
    grid-column: 2;
  }
  .availableVarietyButton > fieldset {
    margin: 1rem;
    border: none;
  }
  .availableVarietyId {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .availableVarietySection {
    display: flex;
    justify-content: space-around;
  }
  .availableVariety {
    max-width: 20vw;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto repeat 4;
    gap: 1rem;
    margin: 2rem;
    border: 1px solid black;
  }
  .availableVarietyHeader {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyMain {
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto repeat 2;
  }
  .availableVarietyFooter {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  }
  .availableVarietyFigure {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyFigure > img {
    max-width: 18vw;
  }
  .availableVarietyTitle {
    grid-column: 1/3;
    grid-row: 2;
    margin: auto;
  }
  .availableVarietyPrice {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyButton {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  }
  .availableVarietyButtonAdd {
    grid-column: 1;
  }
  .availableVarietyButtonRemove {
    grid-column: 2;
  }
  .availableVarietyButton > fieldset {
    margin: 1rem;
    border: none;
  }
  .availableVarietyId {
    display: none;
  }
}
@media (min-width: 992px) {
  .availableVarietySection {
    display: flex;
    justify-content: space-around;
  }
  .availableVariety {
    max-width: 30vw;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    margin: 2rem;
    border: 1px solid black;
  }
  .availableVarietyHeader {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyMain {
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, auto);
  }
  .availableVarietyFooter {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  }
  .availableVarietyFigure {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyFigure > img {
    max-width: 18vw;
  }
  .availableVarietyTitle {
    grid-column: 1/3;
    grid-row: 2;
    margin: auto;
  }
  .availableVarietyPrice {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }
  .availableVarietyButton {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  }
  .availableVarietyButtonAdd {
    grid-column: 1;
  }
  .availableVarietyButtonRemove {
    grid-column: 2;
  }
  .availableVarietyButton > fieldset {
    margin: 1rem;
    border: none;
  }
  .availableVarietyId {
    display: none;
  }
}
/* **********
    News
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  #newsSection {
    margin: 1rem 6rem;
  }
  #displayArticles {
    max-width: 80vw;
    margin: auto;
  }
  .newsArticle {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 0.7fr 4fr auto 0.7fr 0.7fr;
    gap: 0.5rem;
    margin: 2rem auto;
  }
  .newsHeader {
    grid-row: 1;
  }
  .newsMain {
    grid-row: 2/4;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }
  .newsImg {
    display: grid;
    max-width: 60vw;
    justify-content: center;
    margin: auto;
    grid-row: 1;
  }
  .newsImg > img {
    padding: 1rem;
    justify-content: center;
    margin: auto;
  }
  .newsContent {
    margin: auto;
    padding: 1rem;
    grid-column: 1;
    grid-row: 2;
  }
  .newsFooter {
    grid-row: 4/6;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }
  .newsH3 {
    grid-row: 1;
  }
  .newsButton {
    grid-row: 2;
    margin: auto;
  }
  #displayArticles article.hide {
    display: none !important;
  }
  #displayArticles article.show {
    display: grid !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #newsSection {
    margin: 1rem auto;
  }
  #displayArticles {
    max-width: 80vw;
    margin: auto;
  }
  .newsArticle {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 0.7fr 4fr auto 0.7fr;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
  }
  .newsHeader {
    grid-column: 1/3;
    grid-row: 1;
  }
  .newsMain {
    grid-column: 1/3;
    grid-row: 2;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 4fr auto;
    gap: 1rem;
  }
  .newsImg {
    display: grid;
    max-width: 60vw;
    text-align: center;
    margin: auto;
    grid-column: 1/3;
    grid-row: 1;
  }
  .newsImg > img {
    padding: 1rem;
    text-align: center;
    margin: auto;
  }
  .newsContent {
    margin: auto;
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 2;
  }
  .newsFooter {
    grid-column: 1/3;
    grid-row: 4;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: 0.7fr;
    gap: 1rem;
  }
  .newsH3 {
    grid-column: 1/2;
    grid-row: 1;
  }
  .newsButton {
    grid-column: 2/3;
    grid-row: 1;
    margin: auto;
  }
  #displayArticles article.hide {
    display: none !important;
  }
  #displayArticles article.show {
    display: grid !important;
  }
}
@media (min-width: 992px) {
  #newsSection {
    margin: 1rem auto;
  }
  #displayArticles {
    max-width: 70vw;
    margin: auto;
  }
  .newsArticle {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 4rem auto 4rem;
    gap: 1rem;
    justify-content: center;
    margin: 4rem auto;
  }
  .newsHeader {
    grid-column: 1/4;
    grid-row: 1;
  }
  .newsMain {
    grid-column: 1/4;
    grid-row: 2;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 30%));
    grid-template-rows: auto;
    gap: 1rem;
  }
  .newsFooter {
    grid-column: 1/4;
    grid-row: 3;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: auto;
    gap: 1rem;
  }
  .newsImg {
    display: grid;
    max-width: 20vw;
    justify-content: center;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
  }
  .newsImg > img {
    padding: 1rem;
    justify-content: center;
    margin: auto;
  }
  .newsContent {
    padding: 1rem;
    grid-column: 2/4;
    grid-row: 1;
  }
  .newsH3 {
    grid-column: 1;
    grid-row: 1;
  }
  .newsButton {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
  }
  #displayArticles article.hide {
    display: none !important;
  }
  #displayArticles article.show {
    display: grid !important;
  }
}
.newsArticle {
  border: 1px solid rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  .newsArticle {
    border: 1px solid rgb(255, 255, 255);
  }
}
.page404 > img {
  justify-content: center;
  margin: auto;
  max-width: 60vw;
}

/* MODULES */
/* **********
    _update
********** */
@media (min-width: 0px) and (max-width: 767.99px) {
  #update {
    width: 30vw;
    display: grid;
    grid-template-rows: 0.5fr auto 0.7fr 0.7fr;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
  }
  #update > h2 {
    font-size: 1.4rem;
    margin: auto;
  }
  #update > ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  #update > ul > li {
    display: grid;
    grid-template-rows: 0.5fr auto 0.7fr 0.7fr;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-content: center;
    margin: auto;
  }
  #update > ul > li > img {
    width: 20vw;
    justify-content: center;
    margin: auto;
  }
  #updateImg {
    grid-row: 2;
  }
  #updateH3 {
    grid-row: 1;
    font-size: 1.2rem;
    flex: wrap;
  }
  #updateP1 {
    text-align: center;
    grid-row: 3;
    font-size: 0.8rem;
  }
  #updateP2 {
    grid-row: 4;
    font-size: 0.5rem;
    text-align: end;
    align-self: end;
  }
  #update > ul > li > h3,
#update > ul > li > p {
    margin: auto;
  }
  #update > a {
    align-self: end;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.4rem;
    background-color: lightgrey;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  .hideUpdate {
    display: none;
  }
  .showUpdate {
    display: grid;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #update {
    width: 30vw;
    display: grid;
    grid-template-rows: 0.5fr auto 1fr;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
  }
  #update > h2 {
    font-size: 1.4rem;
    margin: auto;
  }
  #update > ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  #update > ul > li {
    display: grid;
    grid-template-rows: 0.5fr auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    margin: auto;
  }
  #update > ul > li > img {
    width: 20vw;
    justify-content: center;
    margin: auto;
  }
  #updateImg {
    grid-row: 2;
    grid-column: 1/3;
  }
  #updateH3 {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 1.2rem;
    flex: wrap;
  }
  #updateP1 {
    text-align: center;
    grid-row: 3;
    grid-column: 1;
    font-size: 0.8rem;
  }
  #updateP2 {
    grid-row: 3;
    grid-column: 2;
    font-size: 0.5rem;
    text-align: end;
    align-self: end;
  }
  #update > ul > li > h3,
#update > ul > li > p {
    margin: auto;
  }
  #update > a {
    align-self: end;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.4rem;
    background-color: lightgrey;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  .hideUpdate {
    display: none;
  }
  .showUpdate {
    display: grid;
  }
}
@media (min-width: 992px) {
  #update {
    width: 30vw;
    display: grid;
    grid-template-rows: 0.5fr auto 2fr;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
  }
  #update > h2 {
    font-size: 1.4rem;
    margin: auto;
  }
  #update > ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  #update > ul > li {
    display: grid;
    grid-template-rows: repeat(2, 1fr) 0.5fr;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 0.5rem;
  }
  #update > ul > li > img {
    width: 20vw;
    margin: auto 1rem;
  }
  #updateImg {
    grid-row: 1/4;
    grid-column: 1;
  }
  #updateH3 {
    grid-row: 1;
    grid-column: 2/5;
    font-size: 1.2rem;
    flex: wrap;
  }
  #updateP1 {
    text-align: center;
    grid-row: 2;
    grid-column: 2/5;
    font-size: 0.8rem;
  }
  #updateP2 {
    grid-row: 3;
    grid-column: 3/5;
    font-size: 0.5rem;
    text-align: end;
    align-self: end;
  }
  #update > ul > li > h3,
#update > ul > li > p {
    margin: auto;
  }
  #update > a {
    align-self: end;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.4rem;
    background-color: lightgrey;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  .hideUpdate {
    display: none;
  }
  .showUpdate {
    display: grid;
  }
}
/* **********
    _order
********** */
#order > h2 {
  text-align: center;
  margin: auto;
}

.orderVariety {
  display: grid;
  grid-template-columns: 2.2fr repeat(2, 1fr) 1.2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.total > p {
  text-align: right;
}

.email {
  text-align: center;
  margin: auto;
}

.retrait {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  align-items: center;
  margin: auto;
}

.radio {
  height: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
