/* ********** VARIABLES ********** */
/* *** COLORS *** */
/* ****** FONTS ****** */
/* ****** line height ****** */
/* ****** PADDING - MARGIN - WIDTH ****** */
/* ****** FIN DE VARIABLES ****** */
/* ********** General ********** */
body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  background-color: rgb(128, 237, 153);
  color: rgb(34, 87, 122);
}

.main {
  display: flex;
  max-width: 1140px;
  margin: 0;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  color: rgb(34, 87, 122);
  text-align: center;
}

p,
a,
li,
span {
  color: rgb(34, 87, 122);
}

p {
  text-align: justify;
}

h1 {
  font-size: 2.4rem;
  padding: 2%;
}

h1:not(#mainGalleryTitle) {
  margin: 2%;
}

h2 {
  font-size: 2rem;
  padding: 2%;
  margin: 2%;
}

h3 {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

/* ****** FIN DE General ****** */
/* **********
Header
********** */
/* **********
Toolbar
********** */
.toolbar {
  width: 100vw;
  z-index: 2;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: url("../img/legumes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0;
}

.innerToolbar {
  padding: 0;
  display: flex;
  height: 5rem;
  background-color: rgba(199, 249, 204, 0.5);
}

.logoHeader {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.logoHeader > h1 {
  display: flex;
  align-items: center;
}

.logoHeaderh1 {
  font-weight: 600;
}

.logoImg {
  display: flex;
  align-items: center;
  padding: 2%;
}

.logoImg > img {
  min-width: 4vw;
  max-width: 4vw;
  height: auto;
}

.menu {
  margin: auto 2vw auto auto;
}

.menu > ul {
  display: flex;
}

.menu > ul > li {
  display: flex;
  text-align: center;
  align-items: center;
}

.menu > ul > li > a {
  line-height: 2rem;
  font-size: 1.1rem;
  padding: 0.2rem;
  margin: 0.5rem;
  color: rgb(34, 87, 122);
  font-weight: 600;
}

.tpt {
  background-color: rgba(199, 249, 204, 0.5);
  border-radius: 1rem;
}

.contact {
  background-color: rgb(199, 249, 204);
  border-radius: 1rem;
}

.menu > ul > li > a:hover {
  background-color: rgb(199, 249, 204);
  border-radius: 1rem;
  color: #333;
  font-weight: 600;
}

.menu > ul > li > .contact:hover {
  color: rgb(199, 249, 204);
  background-color: rgb(34, 87, 122);
  font-weight: 600;
}

.welcomeParent {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  justify-content: center;
}

.welcomeParent > h2 {
  color: rgb(34, 87, 122);
  text-align: center;
}

.welcomeParent > img {
  max-width: 60vw;
  border-radius: 8%/12%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.textePresentation {
  margin: 2rem auto 1rem auto;
}

/* **********
About
********** */
.about {
  display: flex;
  flex-direction: column;
}

.about > img {
  width: 60vw;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.about > h1 {
  font-weight: 800;
}

.about > h2 {
  font-weight: 600;
}

.mainGallery {
  background-color: black;
}

.mainGallery > h1 {
  color: rgb(199, 249, 204);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  width: 80vw;
  padding: 2rem;
  margin: 0 auto;
}

.gallery > img {
  width: 20vw;
  height: 10rem;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
