/* ********** Basket ********** */

@media(min-width: 0px) and (max-width: 767.99px)
{
    .availableVarietySection{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        gap: 1rem;
        justify-content:center;
        margin:auto;
    }
    
    .availableVariety{
        width:80vw;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:3rem auto repeat(3, 3rem);
        gap: 1rem;
        justify-content:center;
        margin:auto;
    }
    
    .availableVarietyHeader{
        grid-column: 1;
        grid-row: 1;
        margin:auto;
    }
    
    .availableVarietyMain{
        grid-column: 1;
        grid-row: 2/5;
        display:grid;
        justify-content:center;
        margin:auto;
        grid-template-columns: 1fr;
        grid-template-rows:auto repeat(2, 1fr);
    }
    
    .availableVarietyFooter{
        grid-column: 1;
        grid-row:5;
        display:grid;
        justify-content:center;
        margin:auto;
        padding-bottom:0.5rem;
    }
    
    .availableVarietyFigure{
        grid-column: 1;
        grid-row: 1;
        margin:auto;
    }
    
    .availableVarietyFigure > img{
        max-width:70vw;
    }
    
    .availableVarietyTitle{
        grid-column: 1;
        grid-row: 2;
        margin:auto;
    }
    
    .availableVarietyPrice{
        grid-column: 1;
        grid-row: 3;
        margin:auto;
    }
}

@media(min-width: 768px) and (max-width: 991px)
{
    .availableVarietySection{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }
    
    .availableVariety{
        max-width:40vw;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(4, auto);
        gap: 1rem;
        margin:2rem;
    }
    
    .availableVarietyHeader{
        grid-column: 1/3;
        grid-row: 1;
        margin:auto;
    }
    
    .availableVarietyMain{
        grid-column: 1/3;
        grid-row: 2/4;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(2, auto);
    }
    
    .availableVarietyFooter{
        grid-column: 1/3;
        grid-row: 4;
        
        display:grid;
        grid-template-columns:repeat(2, auto);
        grid-template-rows: 1fr;
    }
    
    .availableVarietyFigure{
        grid-column: 1/3;
        grid-row: 1;
        margin:auto;
    }
    
    .availableVarietyFigure > img{
        max-width:18vw;
    }
    
    .availableVarietyTitle{
        grid-column: 1/3;
        grid-row: 2;
        margin:auto;
    }
    
    .availableVarietyPrice{
        grid-column: 1/3;
        grid-row: 3;
        margin:auto;
    }
    
    .availableVarietyForm{
        grid-column: 1/3;
        grid-row: 1;
        margin:auto;
        padding-bottom:1.5rem;
    }
}

@media(min-width: 992px)
{
    #basket{
        max-width:90vw;
        margin:auto;
    }
    
    .availableVarietySection{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 1rem;
        margin:auto;
    }
    
    .availableVariety{
        max-width:30vw;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:3rem 14rem repeat(3, 3rem);
        gap: 1rem;
        justify-content:center;
        margin:auto;
    }
    
    .availableVarietyHeader{
        grid-row: 1;
        margin:auto;
    }
    
    .availableVarietyMain{
        grid-row: 2/5;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:3fr repeat(2, 1fr);
    }
    
    .availableVarietyFooter{
        grid-row: 5;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin:auto;
    }
    
    .availableVarietyFigure{
        grid-row:1;
        padding:0.4rem;
        margin:auto;
    }
    
    .availableVarietyFigure > img{
        width:22vw;
    }
    
    .availableVarietyTitle{
        grid-row:2;
        margin:auto;
    }
    
    .availableVarietyPrice{
        grid-row:3;
        text-align:center;
        margin:auto;
    }
    
    .availableVarietyButton{
        grid-row: 1;
        margin:auto;
    }
}