/* **********
Header
********** */

/* **********
Toolbar
********** */

#toolbar{
    width: 100vw;
    z-index: 2;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color:$red;
    padding: 1rem 0;
}

#innerToolbar{
    padding: 0;
    display: flex;
    height: 5rem;
}

#logoHeader{
    display: flex;
    padding-top: $pDef;
    padding-bottom: $pDef;
}


#logoHeader > h1{
    display: flex;
    align-items: center;
}

#logoHeader > h1{
    font-weight:500;
}

#logoImg{
    display: flex;
    align-items: center;
    padding: $pDef;
}

#logoImg > img{
    min-width: $logoWidth;
    max-width : $logoWidth;
    height: auto;
}

#menu{
    margin: auto 2vw auto auto;
}

#menu > ul{
    display: flex;
}

#menu > ul > li{
    display: flex;
    text-align: center;
    align-items: center;
}

#menu > ul > li > a{
    line-height:2rem;
    font-size:1.1rem;
    padding: 0.2rem;
    margin: 0.5rem;
    color: $mainColor;
    font-weight: 600;
}

#contact{
    background-color: $blanc;
    border-radius: 1rem;
}

#menu > ul > li > a:hover{
    background-color: $blanc;
    border-radius: 1rem;
    color: $noir;
    font-weight: 600;
}

#menu > ul > li > #contact:hover{
    color: $red;
    background-color: $mainColor;
    font-weight: 600;
}