.welcomeParent{
    display:flex;
    flex-direction:column;
    margin-top: 0;
    width: 100%;
    justify-content: center;
}

.welcomeParent>h2{
    color: $mainColor;
    text-align: center;
}

.welcomeParent>img{
    max-width: 60vw;
    border-radius: 8% / 12%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.textePresentation{
    margin: 2rem auto 1rem auto;
}

