/* **********
    Products
********** */

@import "responsive/mobile_product";
@import "responsive/tablet_product";
@import "responsive/desktop_product";

.varietyDetail{
    background-color:$vert;
}

@media (prefers-color-scheme: dark)
{
    .varietyDetail{
        background-color:$darkMainBgColor;
        border:1px solid $blanc;
    }
}